In [1]:
⎕load 'res\DyalogTutor_EN.dws'

**Notes & Questions**:

 - what programming conventions should be adopted? shoud the original style be kept? e.g. variable naming with upper VS lower case letter for arrays, etc.
 - Bernard originally talks about how multiple assignment without () on the left is allowed but discouraged for compatibility reasons with other APLs; I kept the paragraph and included a note on how such a thing is bad and should be avoided; should this small part be removed altogether?
 - I wrote [1.4 Different Types of Numbers](#1.4-Different-Types-of-Numbers) to include a first reference to complex numbers; is this a good place to mention them for the first time?
 - the first sentence of [section 2](#2---Arrays-of-Items) says "an array is a set of zero or more items"; while I don't think "set" here was intended in the mathematical sense, I changed it to "sequence" as I feel it is more accurate.
 - whenever the author talks about a fictional character, the author assigns them a gender, usually masculine; should I change the examples to be of unspecified gender by using "they/their/them"?
 - the author talks about () vs [] for indexing in different languages but doesn't mention the fact that indexing in APL is 1-based while in many other languages it's 0-based... Shouldn't this be, at least, mentioned briefly?



# Chapter B: Data and Variables

When you use APL, you type an expression or a command into the session window, and the result of the expression, or a message resulting from the execution of the command, is displayed starting on the next line. So an APL "session" is a sequence of user input lines (expressions and/or commands) interleaved with the results of the expressions.

To help you see what you have done, APL initially positions the input cursor $6$ spaces in from the left margin. Unless you deliberately move the cursor before you start typing, the expressions you enter into the system will therefore be indented, whereas the results of the expressions will not. Having been written in Jupyter notebooks, this book mimics some of that behaviour by having code blocks that can be ran interactively by you, the reader.

In this book, expressions you enter are in a shaded rectangle (an ***input cell***) precedeed by `In [X]:` and the results of the expressions are precedeed by the corresponding `Out[X]:` and displayed in a white region (the ***output cell***). You can run an input cell by selecting it and pressing *Ctrl*+*Enter*; when you do so, the numbers in `In [X]` and `Out[X]` are updated to indicate the cell has just been ran.

It is recommended that you go through this tutorial in front of your computer, and experiment by typing the expressions given below into the Dyalog session window. Alternatively, if you are reading the book online in a dynamic format, you can re-run the *input cells* for yourself. Either way, try changing the expressions, and observe the new results.

## 1 - Simple Numeric Values

### 1.1 Our First Operations

Let's try some simple expressions (press *Enter* if you are in a Dyalog session, or *Ctrl*+*Enter* if you are reading the Jupyter notebook, to have each expression evaluated):

In [2]:
27 + 53

In [3]:
1271 - 708

In [4]:
644 - 832

Notice that APL uses a different symbol known as *high minus* (`¯`) to distinguish between a negative value and the function *subtract* (`-`). If you wish to enter a negative value, you can enter this special symbol by pressing *Ctrl*+$2$ (or by clicking the symbol in the "Language Bar").

Let's continue with some more expressions:

In [5]:
86 ÷ 4        ⍝ The Divide sign is obtained by pressing Ctrl+=

In [6]:
59 × 8        ⍝ The Multiply sign is obtained by pressing Ctrl+-

If you are familiar with other programming languages, you may be accustomed to using a slash (`/`) for division, and a star (`*`) for multiplication. Let's see what might happen if you mistakenly use `*` in APL:

In [7]:
7 * 3         ⍝ In APL the star means "Power"
              ⍝ so that 7 * 3 is equivalent to 7 × 7 × 7

The slash also has a different meaning in APL, we'll get to that latter.

### 1.2 Variables

As in any other programming language, it is possible to create variables. Just choose a name and use the assignment arrow (`←`) to assign it to a value. The value can be a single item or several items separated by spaces. The assignment arrow can be entered by pressing *Ctrl*+\[.

In [8]:
Discount ← 0.15        ⍝ Read it as: Discount gets 0.15
Years ← 1952 1943 1956 2020
Purchased ← 4000

To obtain the value of a variable, just type its name and evaluate the expression, like this:

In [9]:
Discount

In [10]:
Years

Variable names are ***case sensitive***. This means that APL considers a lower-case letter and an upper-case letter to be two different characters. So the three variables `YEARS`, `Years` and `years`, would be distinct, and could contain different values. If you misspell the name of a variable, an error message will be displayed if that name is unknown:

In [11]:
discount        ⍝ We typed a lower-case "d", instead of "D"
                ⍝ The message "VALUE ERROR" means that the
                ⍝ name discount is currently undefined.

VALUE ERROR: Undefined name: discount
      discount        ⍝ We typed a lower-case "d", instead of "D"
      ∧

Variable names must follow certain rules:

 - They must contain only letters, in lower or upper-case, including some accented letters (cf. below), and the digits ($0$ to $9$).
 - The APL alphabet also includes the Greek letter Delta (`∆`), entered using *Ctrl*+H, the Underscore sign (`_`), and also the Underscored Delta (`⍙`), entered using *Ctrl*+. (dot).
 - They cannot start with a digit.
 
The following variable names are valid:

In [12]:
∆x ← 1                ⍝ with Delta
∆x

In [13]:
Fly⍙Airlines ← 2      ⍝ with Underscored Delta
Fly⍙Airlines

In [14]:
My_car_is_green ← 3   ⍝ with Underscores
My_car_is_green

In [15]:
Hote273 ← 4           ⍝ with digits
Hote273

In [16]:
Bétise_à_Caimbrai ← 5 ⍝ with accented letters
Bétise_à_Caimbrai

But `5à7` is not valid, because it begins with a digit:

In [17]:
5à7 ← 6

SYNTAX ERROR
      5 à7←6
          ∧

In this document, most variable names begin with an upper-case letter, with the remainder in lower-case. This is purely for consistency and ease of use.

The letters that are allowed as part of variable names are:

```
0123456789
ABCDEFGHIJKLMNOPQRSTUVWXYZ_
abcdefghijklmnopqrstuvwxyz
ÀÁÂÃÄÅÆÇÈÉÊËÌÍÎÏÐÑÒÓÔÕÖØÙÚÛÜÝẞ
àáâãäåæçèéêëìíîïðñòóôõöøùúûüþ
∆⍙
```

Additionally, variable names can contain underlined upper cases letters, which look something like <ins>ABCDEFGHIJKLMNOPQRSTUVWXYZ</ins>. It is strongly recommended that you do not use the underscored letters which are only included to support old applications. Today, underscored letters are regarded as an anachronism, and are deprecated in modern versions of APL. They are not part of the Unicode character set and we weren't even able to include them here, the list above is just styled like the underscored letters, it is not really those letters. When a standard Unicode font is used, the APL underscored letters correspond to the Unicode circled alphabet, which is displayed like this:

```
ⒶⒷⒸⒹⒺⒻⒼⒽⒾⒿⓀⓁⓂⓃⓄⓅⓆⓇⓈⓉⓊⓋⓌⓍⓎⓏ
```

Although it is permitted, the use of accented characters is also not recommended because some people may be unable to enter them using their normal keyboard.

`∆` and `⍙` may also cause problems if you ever want to inter-operate with other software, and are best avoided.

### 1.3 Operations on Variables

Variables can be used in any expression or calculation. For example, if we want to calculate the amount of the discount applied to the things we purchased, we can write:

In [18]:
Amount ← Purchased×Discount
Amount

When the result of an expression is assigned to a name, it is not displayed. This is why we have entered a second expression to have the value displayed. If the result of an operation is not assigned to a name, it is immediately displayed, but then the value of the result cannot be reused directly in another expression:

In [19]:
Purchased × Discount

It is of course possible to change the contents of a variable. The previous value is then lost.

In [20]:
Discount ← 0.185

It is possible to assign values to several variables in a single expression:

In [21]:
(G H J) ← 30 51 49        ⍝ G gets 30, H gets 51, and J gets 49.

This ***Multiple assignment*** is an elegant way of allocating a set of values to some distinct variables:

In [22]:
(Colette Bernard Line Now) ← Years
Colette

In [23]:
Line

Note that it is possible to write multiple assignments without parentheses on the left:

In [24]:
G H J ← 30 51 49
Colette Bernard Line Now ← Years

However this is highly discouraged. Using parentheses indicates much more clearly the intent of performing *Multiple assignment* and helps prevent some erroneous behaviour. For example, notice how the expression below raises an error because we are trying to assign `5` to `3`, and yet, `var` gets assigned `5`:

In [25]:
var 3 ← 5

SYNTAX ERROR
      var 3←5
           ∧

In [26]:
var

However, if we use parentheses the assignment is not performed at all:

In [27]:
(var 3) ← 50

SYNTAX ERROR
      (var 3)←50
             ∧

In [28]:
var

Another argument against using *Multiple assignment* without parentheses is that some other APL systems require them, so if compatibility across APL implementations is an issue for you, we recommend that you use parentheses in Dyalog APL as well.

### 1.4 Different Types of Numbers

We have already used many different numerical values in our examples without worrying too much about what they really are. We should note that, for the computer, not all numbers are created equal.

***Integer*** numbers are the easiest to deal with, and we have seen plenty of them already. Those are the whole numbers and they can be positive, or negative, or `0`:

In [29]:
Integers ← ¯3 5 ¯46 10004 0
Integers

If we include a dot `.` and specify decimal parts for our numbers, then we are no longer dealing with *integers*, but instead with ***floats***:

In [30]:
Floats ← ¯3.4 5.61 45.9
Floats

Dyalog APL knows a little bit of maths and will understand that a *float* with decimal part equal to $0$ is actually an *integer*:

In [31]:
3.0

In [32]:
¯5.000000

Finally, if we dive deeper into the realms of mathematics, we can find ***complex numbers***, which will be further explored later on. For now, you can think of *complex numbers* as ***real numbers*** that come in pairs (*real numbers* are the numbers you are very much accustomed to). In Dyalog APL we use a `J` to separate the ***real part*** of the number from the ***imaginary part***, that is, to identify the pair I just mentioned:

In [33]:
Complex ← 3J1 ¯5J1.2 0J¯1.01
Complex

Because Dyalog APL knows a little bit of maths, if the number to the right of the `J` is `0`, Dyalog will automatically convert it to the appropriate *integer* or *float*. Note that this does not happen (because it is not correct) if the `0` is on the left of the `J`:

In [34]:
¯3.56J0

In [35]:
3J0

In [36]:
0J1

## 2 - Arrays of Items

In APL, an *array* is a sequence of zero or more items. The variable `Years` that we used in the previous section is an array of $4$ items.

### 2.1 Create a List or a Matrix

To enter a short list of items, just type them one by one separated by spaces, and assign the list to a name. For example, here is the number of TV sets sold during the last $10$ days by a shopkeeper:

In [37]:
Sales ← 6 1 8 12 3 3 5 4 7 9

If you need to enter a very long list of items, which will not easily fit on a single line, please refer to Chapter H, Section $1$, where a simple method is explained.

Imagine now that somebody has noted his income and expenses during the first six months of this year:

| Month | Income | Expenses |
| :- | -: | -: |
| January | $4210$ | $3121$ |
| February | $4807$ | $4284$ |
| March | $3609$ | $7543$ |
| April | $5712$ | $2601$ |
| May | $2305$ | $3364$ |
| June | $4568$ | $2784$ |

We shall see later how we can store the names of the months; for now, let us just try to store the numeric values from the table above in a variable.

To do this, we have to give two pieces of information to the computer:

 - the ***shape*** of the array: in this case, $6$ rows and $2$ columns;
 - the ***contents*** (or *items*) of the array, in row order.
 
The function that organises a set of items into an array of a specified shape is known as ***Reshape*** and is symbolised by the Greek letter Rho (`⍴`). It is easy to remember that *R*ho can be entered using *Ctrl*+R.

The ***Reshape*** function is used as follows: `R← Shape ⍴ Contents`.

For example, to obtain a $6$ by $2$ array of items:

In [38]:
Money ← 6 2 ⍴ 4210 3121 4807 4284 3609 7543 5712 2601 2305 3364 4568 2784
Money        ⍝ Let's verify the result.

### 2.2 Special Cases with Reshape

If there are too many items, the extra items are ignored:

In [39]:
Contents ← 12 56 78 74 85 96 30 22 44 66 82 27
3 3 ⍴ Contents        ⍝ The last 3 items (66 82 27) have been ignored.

However, if there are fewer items than implied by the shape, the list of items is reused as many times as necessary to fill the array:

In [40]:
3 9 ⍴ Contents        ⍝ Notice how the Contents variable
                      ⍝ starts repeating on the second row (under the 74)
                      ⍝ and also by the end of the third row

This property is often used to create special patterns:

In [41]:
3 4 ⍴ 0            ⍝ Fill an array with a single value.

In [42]:
30 ⍴ 1 5 0 0       ⍝ Repeat a pattern.

In [43]:
3 4 ⍴ 2 4 6 8      ⍝ Repeat a pattern.

In [44]:
5 5 ⍴ 1 0 0 0 0 0  ⍝ Shift values.

### 2.3 Multi-dimensional Arrays

APL is not limited to arrays with two dimensions, it can handle arrays with $3$, $4$, indeep up to $15$ dimensions.

Imagine that a company has stored the production of its assembly lines in a variable named `Prod`.

The variable contains $5$ years of production, on $2$ assembly lines, and for $12$ months per year. To represent the $3$ dimensions on the screen, the array is displayed split into sub-arrays each representing a single year, as follows:

In [45]:
Prod        ⍝ Notice the blank lines separating the sub-arrays,
            ⍝ one per year (5 in total).

This array is organised in dimensions that represent $5$ years, $2$ assembly lines, $12$ months: it is a three dimensional array. We can also say that its ***shape*** is $5\ 2\ 12$.

## 3 - Shape, Rank and Vocabulary

### 3.1 Shape and Rank

The symbol `⍴`, which we introduced above, can be used to obtain the lengths of the dimensions or the ***Shape*** of an array:

In [46]:
⍴ Years        ⍝ Read this as "Shape of Years".
               ⍝ Years has 4 items

In [47]:
⍴ Money        ⍝ Money has 6 rows and 2 columns.

In [48]:
Shape ← ⍴Prod
Shape          ⍝ Prod has 5 sheets (or planes), each having
               ⍝ 2 rows and 12 columns.

Now, what is the shape of `Shape`?

In [49]:
⍴ Shape        ⍝ Prod has 3 dimensions

The same result could have been obtained directly using the expression `⍴⍴ Prod`:

In [50]:
⍴⍴ Prod

`Prod` has $3$ dimensions; we say that its ***Rank*** is $3$, or that it is organised along $3$ criteria which are: Years / Lines / Months.

In [51]:
⍴⍴ Money

`Money` has $2$ dimensions; we say that its ***Rank*** is $2$, or that it is organised along $2$ criteria which are: Months / Accounts.

**Definition**: The ***Rank*** of an array is the number of its dimensions. It can be obtained using the expression `⍴⍴ Array`.

### 3.2 Scaling Down the Ranks

Using that formula, we can see that:

|||||
| :- | :- | :- | :- |
| `Prod` | has a shape equal to | `5 2 12` | and its rank is equal to ............ `3` |
| `Money` | has a shape equal to | `6 2` | and its rank is equal to ............ `2` |
| `Years` | has a shape equal to | `4` | and its rank is equal to ............ `1` |

It seems consistent that some array must exist which has a rank equal to ...... `0`.

Such arrays are single items, like $1573$ or $36.29$ or the variable `Discount` used above.

In [52]:
⍴⍴ Discount    ⍝ A single number has no dimensions.

In [53]:
⍴⍴ 36.29

We needed $3$ numbers to express the shape of `Prod`, $2$ numbers to express the shape of `Money`, and only $1$ number to express the shape of `Years`... hence to express the shape of `1573` or `Discount`, we need **no** numbers:

In [54]:
⍴ 1573        ⍝ The answer displays as a blank line: the shape of
              ⍝ a single number is an empty array (0 items)

In [55]:
⍴ Discount    ⍝ Ditto

### 3.3 Vocabulary

In this book, we shall use the following terms:

| | | | |
| :- | :- | :- | :- |
| ***Array*** | is a generic word for any sequence of items (possibly containing a single item, or no items at all) | | |
| ***Scalar*** | is a single item like | `Discount` | its rank is $0$ |
| ***Vector*** | is a list of items like | `Years` | its rank is $1$ |
| ***Matrix*** | is an array of rank $2$ like | `Money` | its rank is $2$ |
| ***Table*** | is a common name for a matrix | | |
| ***Cube*** | is a common name for $3$-D arrays like | `Prod` | its rank is $3$ |

### 3.4 Beware!

#### 3.4.1 - The Shape is Always a Vector

The shape of a value is **always** a vector, even if it contains only one item or even no items at all.

In [56]:
Shape ← ⍴Years
Shape            ⍝ It looks like a scalar.

In [57]:
⍴⍴ Shape         ⍝ But it is of rank 1, so it is a vector.

In [58]:
⍴ Shape          ⍝ It is a vector with only one item.

#### 3.4.2 - Do Not Rely on the Visual Aspect of a Variable

Although scalars, vectors, and matrices may sometimes look the same when they are displayed, they should not be confused. Consider, for example, the following vector `V` and matrix `M`:

In [59]:
V ← 87 65 21 40
M ← 1 4 ⍴ 87 65 21 40

If we display their values, they look exactly the same:

In [60]:
V

In [61]:
M

But they cannot be easily added or multiplied together:

In [62]:
V + M

RANK ERROR: Mismatched left and right argument ranks
      V+M
       ∧

Similarly, a scalar should not be confused with a $1$-item vector or a $1$-item matrix, or with any $1$-item multi-dimensional array for that matter. The scalar has a rank of $0$ whereas the vector has rank $1$:

In [63]:
S ←   456        ⍝ Create a scalar.
V ← 1⍴456        ⍝ Create a one-item vector.

In [64]:
S                ⍝ If displayed, they look the same:

In [65]:
V

In [66]:
⍴⍴S              ⍝ But their ranks are different; the two variables
                 ⍝ should not be confused.

In [67]:
⍴⍴V

#### 3.4.3 - Displaying Long Vectors

If a vector is too long to be displayed in a single line on your screen, the Dyalog session will wrap it onto several lines. But to prevent possible confusion with the display of a matrix, the second line and the following lines will not be aligned at the left margin, but will be indented $6$ characters to the right. In these Jupyter notebooks the output gets hidden and a horizontal scroll bar is provided. For example:

In [68]:
Bignum

## 4 - Simple Character Values

### 4.1 Character Vectors and Scalars

Up to now, we have used only numeric values, but we can also create textual data known as a *character array*. To identify a string of characters as text, we start and end it with a single ***Quote***:

In [69]:
Text ← 'Today is August 7th, 2020'
Text

In [70]:
⍴Text

In [71]:
Trailer ← 'I type 7 trailing blanks       '
Trailer

In [72]:
⍴Trailer

As these examples show:

 - The quotes are **not** part of the text, they're just there to delimit it.
 - Text can include any character: letters, digits and punctuation.
 - So, `Text` and `Trailer` are vectors. They are sometimes called *Strings*.
 - APL does not recognize words; a character array is simple a set of characters.
 - Blank characters (spaces) are characters like any other characters; they do not have any special meaning. However, when a character array is displayed any trailing blanks are most often invisible.
 
A problem may occur when the text itself includes an apostrophe, for example in a sentence like "*It's raining, isn't it?".

When you enter apostrophes as part of the text, you must double them, as shown below, to distinguish them from the delimiters:

In [73]:
Damned ← 'It''s raining, isn''t it?'

This is only a typing convention, but the doubled quotes are transformed into a single apostrophe, as you can see here:

In [74]:
Damned        ⍝ The vector's size is equato to 23.

As mentioned above a character array can contain digits, but they are not considered to be numbers, and it is impossible to use them in a mathematical operation:

In [75]:
Hundred ← '100'
Hundred            ⍝ It looks like a number.

In [76]:
⍴Hundred           ⍝ But it isn't.

In [77]:
Hundred + 5

DOMAIN ERROR
      Hundred+5
             ∧

Of course, a single character is a scalar:

In [78]:
Singleton ← 'p'
⍴Singleton        ⍝ Do you remember? Scalars have no dimensions.

In [79]:
⍴⍴Singleton       ⍝ Yes, it is definitely a scalar.

### 4.2 Character Arrays

We say, some pages ago, a list of months:

```
January
February
March
April
May
June
```

We can think of this as a list of $6$ words, or as a matrix of $6$ rows and $8$ columns (the width of "February"). Both representations are valid, and both can be used in APL; let us study them one after the other.

To enter the months as a $6$ by $8$ matrix, one must use the *Reshape* (`⍴`) function:

 - To the left of the function we must specify the shape of the matrix we want to build: `6 8`
 - To the right of the function we must specify all of the characters (including any trailing blanks) that are necessary to fill each row to the proper length:

In [80]:
MonMat ← 6 8 ⍴ 'January FebruaryMarch   April   May     June'

No space was typed between `February` and `March`; do you see why?

In [81]:
MonMat        ⍝ Now, let us see the result.

Oops! We forgot that when the right argument is too short, `⍴` reuses it from the beginning. That's the reason why the last row is wrong. We must add $4$ trailing blanks.

###### Facility

You do not have to re-type the entire expression.

If you are working in the Dyalog interpreter session, just move your cursor up to the line where you defined `MonMat`, add the missing blanks, and press the *Enter* key.

APL will then copy the modified line down to the end of your session and automatically restore the original line to its original state. As a consequence, the session window always displays the sequence of expressions and results in the order in which you typed them.

If you are working with the Jupyter notebook version of this book, you can just go to the input cell where you made your mistake and correct it in place. Otherwise, just copy the cell and correct the mistake in the copy:

In [82]:
MonMat ← 6 8 ⍴ 'January FebruaryMarch   April   May     June    '
MonMat        ⍝ That's right now!

In [83]:
⍴MonMat       ⍝ As expected, it is a matrix.

Now, to enter the months as $6$ words, one must type each word between quotes, and check that each closing quote is separated from the next opening quote by at least one blank (otherwise it would be interpreted as an apostrophe - remember, the juxtaposition of two quotes in a character string is used to enter a single quote):

In [84]:
MonVec ← 'January' 'February' 'March' 'April' 'May' 'June'
MonVec

In [85]:
⍴MonVec        ⍝ It is a vector.

`MonVec` is a vector of a kind that we have not seen before, the items of which are $6$ sub-arrays. This kind of an array is called a ***Nested Array*** and is the reason why we see those black boxes around the months.

Be patient! We shall study nested arrays very soon in this very chapter.

## 5 - Indexing

### 5.1 Traditional Vector Indexing

Our variable `Contents` contains the following items:

In [86]:
Contents

To extract one of these items, you just have to specify its position, or ***Index***, between ***Square brackets***:

In [87]:
Contents[3]

In some languages, programmers use parentheses instead of brackets, but parentheses have many other different uses. In APL, parentheses have one and only one use, namely to specify the order of evaluation of a complex expression. In this respect, the use of square brackets for indexing makes APL more rigorous.

Of course, an index must follow some obvious rules: it must be an integer numeric value; it may not be negative or greater than the size of the vector. Otherwise, an "`INDEX ERROR`" will be reported.

It is possible to extract several items in a single operation, and in any order:

In [88]:
Contents[3 7 1 3 3 12]        ⍝ You can see that an item can be selected
                              ⍝ more than once.

The same notation allows you to modify one or more items of the vector. The only condition is that you must provide as many replacement values as the number of items you select, or give a single replacement value to use for all the selected items:

In [89]:
Contents[2 4 6] ← 7 11 80     ⍝ Three values replace three items.
Contents

In [90]:
Contents[8 11 12] ← 33        ⍝ One single value replaces three items.
Contents

This works exactly the same on character vectors:

In [91]:
'COMPUTER'[8 7 4 2 8 6]

In [92]:
Text ← 'BREAD'
Text[2 4] ← 'LN'
Text

### 5.2 The Shape of the Result

The index may be a numeric array of any shape: scalar, vector, matrix, or an array of higher rank. To understand what happens, there is a simple rule:

<br />
<center>When a vector is indexed by an array, the result has exactly the <b><i>same shape</i></b> as the index array, as if each item of the index had been replaced by the item it designates.</center>

This rule is easy to verify. Let us restore the initial values of `Contents`:

In [93]:
Contents ← 12 56 78 74 85 96 30 22 44 66 82 27

And let us create a matrix of indices:

In [94]:
MyIndex ← 3 5 ⍴ 5 5 4 4 8 6 12 6 11 12 10 6 1 4 9
MyIndex

In [95]:
Contents[MyIndex]    ⍝ For example you can see that the index in row 2
                     ⍝ column 5 was 12. So, it has been replaced by
                     ⍝ the 12th item of Contents, i.e. 27.

The rule remains true if the indexed vector is a character vector. For example, imagine that we have a matrix named `Planning`, in which some tasks are planned ($1$) or not ($0$) over the next $12$ months:

In [96]:
Planning        ⍝ This is not very easy to interpret!

Let us replace the inactive periods by "`-`", and the busy periods by "`⎕`". This beautiful character, named ***Quad***, can be entered by pressing *Ctrl*+L.

In [97]:
'-⎕'[Planning+1]        ⍝ Do you understand why we added 1?
                        ⍝ And doesn't this look good?

Of course, the vector to be indexed was composed of only two characters, so the set of indices had to be composed only from the values $1$ and $2$. This is the reason why we added $1$ to `Planning`.

All the $0$'s in `Planning` have been replaced by the $1^\text{st}$ item (`-`), and all the $1$'s have been replaced by the $2^\text{nd}$ item (`⎕`).

### 5.3 Array Indexing

Just to make some experiments, let us create a new variable, named `Tests`:

In [98]:
Tests

Indexing an array is very similar to the method we say for vectors, but we now need one index for the row and one for the column; they must be separated by a ***Semi-colon***. For example, to get (or replace) the value $55$ in row $4$, column $3$, one types:

In [99]:
Tests[4;3]

It is of course possible to select more than one row and more than one column. If so, one obtains all the values situated at the intersections of the specified rows and columns.

In [100]:
Tests[1 5 6;1 3]

The result of indexing may sometimes be surprising. Let us extract $4$ values from the first column:

In [101]:
Tests[1 2 5 6;1]

You probably expected the result to be displayed like a column? Really sorry!

The result of this expression is a vector, and a vector is always displayed as a row on the screen.

We shall see later that it is possible, using a little trick, to cause the result to be displayed vertically.

When you use indexing, you must specify as many indices or sets of indices as the array's rank. For a $3$-D array, you must specify $3$ sets of indices, separated by two semi-colons.

For example, suppose that we would like to extract the production of the $2^\text{nd}$ assembly line, for the first $6$ months of the last two years, from the array `Prod`. Let's express that in order of the $3$ dimensions: Years/Lines/Months:

|||
|:-|:-|
| The last two years are in positions | $4\ 5$ |
| The second assembly line | $2$ |
| The first $6$ months | $1\ 2\ 3\ 4\ 5\ 6$ |

In [102]:
Prod[4 5;2;1 2 3 4 5 6]    ⍝ The result is a matrix: 2 years/6 months

###### Remark 1

Because we can select rows and columns, the semi-colon is necessary to tell them apart:

In [103]:
Tests[1 2;3]    ⍝ gives rows 1 and 2, column 3

whereas

In [104]:
Tests[1;2 3]    ⍝ gives row 1, columns 2 and 3

###### Remark 2

It is also possible to select several items which are not at the intersections of the same rows or columns. To do so requires a special notation where the individual Row/Column indices of each item are embedded in parentheses. The reason for this syntax will become clear in Section 6.3.

For example, let us select `Tests[2;3]` together with `Tests[5;1]` and `Tests[1;2`.

In [105]:
Tests[(2 3)(5 1)(1 2)]

### 5.4 Convention

To specify *all* items of a dimension, you just omit the index for that dimension, but you must not omit the semi-colon attached to it.

In the previous example, to obtain both assembly lines we could have typed:

In [106]:
Prod[4 5;1 2;1 2 3 4 5 6]

But it is shorter to type:

In [107]:
Prod[4 5;;1 2 3 4 5 6]    ⍝ The omitted index means
                          ⍝ "All the assembly lines".

In the same way:

In [108]:
Prod[4 5;2;]              ⍝ The omitted last index means
                          ⍝ "All the months".

And finally:

In [109]:
Prod[;;1 2 3]             ⍝ The omitted indices mean
                          ⍝ "All years and lines".

This convention also applies to *replacing* specific items. For example, to change all the items in the last row of `Tests`, we could type:

In [110]:
Tests[6;] ← 60 70 80
Tests

### 5.5 Warnings

We would like to draw your attention to some selicate details. Here is the first:

#### 5.5.1 - Shape Compatibility

To replace several items in an array, the replacement array must have exactly the **same shape** as the array of indices they replace.

For example, supposed that we would like to replace the four "corners" of `Tests` with the values $11\ 22\ 33\ 44$ respectively.

We **cannot** successfully execute:

In [111]:
Tests[1 6;1 3] ← 11 22 33 44

LENGTH ERROR
      Tests[1 6;1 3]←11 22 33 44
           ∧

Notice the `LENGTH ERROR` that was issued (note that this is a "**Shape** error").

If we had extracted these four values, the result would have been a $2$ by $2$ matrix:

In [112]:
Tests[1 6;1 3]        ⍝ Remember: row 6 was modified above!

So, to replace them, we cannot use a vector, as we have just tried to do. Instead we must organise the replacement array into a $2$ by $2$ matrix, like this:

In [113]:
Tests[1 6;1 3] ← 2 2 ⍴ 11 22 33 44
Tests        ⍝ Notice the corners have the new values.

#### 5.5.2 - Replace or Obtain All the Values

To replace **all** of the values in an array with a single value, it is necessary to use brackes in which the indices of all the dimensions have been removed.

For example, imagine that we would like to reset all the values of `Tests` to zero.

`Tests ← 0` would be **wrong**, because that would replace the matrix by a scalar.

The correct solution is

In [114]:
Tests2 ← Tests
Tests2[;] ← 0        ⍝ All the rows and columns are replaced by zero.
Tests2

For a vector, like `Contents`, we would write

In [115]:
Contents[] ← 123      ⍝ All the items are replaced by 123.
Contents

#### 5.5.3 - "Pass-Through" Value

Imagine that we have a vector:

In [116]:
Vec ← 32 51 28 19 72 31

We replace some items and assign the result to another variable:

In [117]:
Res ← Vec[2 4 6] ← 50

What do we get in `Res`? Is it `Res ← Vec[2 4 6]`, or is it `Res ← 50`?

In [118]:
Res

In fact, we get `50`. We say that `50` is a ***Pass-Through*** value.

### 5.6 The Index Function

In APL, nearly all of the built-in functions (known as *Primitive Functions) are represented by a single symbol: `+` `×` `⍴` `÷` etc. Bracket indexing, as we introduced above, is an exception: it is represented by two non-contiguous symbols: `[` and `]`. This is one of the reasons why modern versions of APL also include an ***Index*** function.

It is represented by the symbol `⌷`.

**Beware**: this is **not** the symbol *Quad* used in our planning example a few pages ago!

In fact, it looks like a *Quad* which has been *squished*, hence its name: Squish-Quad, or ***Squad*** for short. The *Squad* is obtained with *Ctrl*+*Shift*+L.

When applied to a vector, *Index* takes a single number on its left.

In [119]:
3 ⌷ Contents        ⍝ This is equivalent to Contents[3]

For now, we shall not try to extract more than one item from a vector; we need additional knowledge to do that.

For a matrix, *Index* takes a pair of values (row/column) on its left.

In [120]:
4 2 ⌷ Tests         ⍝ This is equivalent to Tests[4;2]

It is possible to select several rows and several columns, using a special notation that will be explained in subsequent sections. The left argument of *Index* is now made of a list of rows followed by a list of columns, both parenthesised:

In [121]:
(1 3 6)(1 3)⌷Tests  ⍝ This is equivalent to Tests[1 3 6;1 3]

## 6 - Mixed and Nested Arrays

Up to now we have dealt only with homogeneous arrays: scalars, vectors or higher rank arrays containing only numbers or only characters. An array was a collection of what we call *simple* scalars. In the early $1980$'s enhanced versions of APL started to appear. They accepted a mixture of numbers and characters within the same array (so-called ***Mixed Arrays***), and arrays could contain sub-arrays as items (so-called ***Nested Arrays***).

In this chapter, we shall explore only some basic properties of *Mixed* and *Nested arrays*, just to help you understand what might otherwise appear to be unusual behaviour or unexpected error messages. We shall not go any further for now; Chapter I will be entirely dedicated to an extensive study of nested arrays.

Note that with the current widespread use of *Nested arrays*, it is now very common to refer to an "old-fashioned" array that is neither *Mixed* nor *Nested* as a *Simple array*.

### 6.1 Mixed Arrays

An array is described as a ***Mixed Array*** if it contains a mixture of scalar numbers and scalar characters.

It is easy to create such an array:

In [136]:
MixVec ← 44 87 'K' 12 29 'B' 'a' 'g' 46.3
⍴MixVec        ⍝ This is a vector.

In [129]:
MixVec

In [131]:
MixMat ← 2 5⍴MixVec
⍴MixMat        ⍝ That is a matrix.

In [132]:
MixMat

### 6.2 Four Important Remarks

#### 6.2.1

In a vector like `MixVec`, each letter must be entered as a scalar: embedded within quotes, and separated from the next one by at least one blank space.

If the space is omitted, for example, if we type

In [135]:
'B''a''g'

APL interprets the doubled quotes as apostrophes, which yields `B'a'g`. This is not a sequence of $3$ scalars, but a $5$-item vector:

#### 6.2.2

When `MixVec` is displayed (see above), the three letters `Bag` are joined together, like the letters in any vector of characters.

This presentation might be confused with an array of $7$ items, whose $6^\text{th}$ item is the vector `'Bag'`. That would be a *Nested Array*. We will soon learn how to investigate the structure of an array.

#### 6.2.3

This confusing disappears in `MixMat`. Because the items of the matrix must be aligned in columns, "B" is placed under $44$, "a" under $87$, and "g' under "K". Here you can easily see that the three letters `Bag` are really three independent scalars.

#### 6.2.4

A ***Mixed*** array is made up only of simple scalars (numbers or characters); **it is not** a *Nested Array*.

## 6.3 Nested Arrays

An array is said to be ***Generalised*** or ***Nested*** when one or more of its items are not *simple* scalars, but are scalars which contain other arrays. The latter may be simple arrays of any shape or rank (vectors, matrices, arrays), or they may themselves be *Nested arrays*.

A nested array can be created in a number of ways; we shall begin with the simplest one, known as ***Vector notation***, or ***Strand notation***. Here is how it works:

The items of an array are just juxtaposed side by side, and each can be identified as an item because it is:

 - either separated from its neighbours by **blanks**
 - or embedded within **quotes**
 - or an expression embedded within **parentheses**
 - or a **variable name**
 
Just to demonstrate how it works, let us create a nested vector and a nested matrix.

In [137]:
One ← 2 2 ⍴ 8 6 2 4        ⍝ Create two simple arrays,
Two ← 'Hello'              ⍝ which will be used below

In [139]:
NesVec ← 87 24 'John' 51 (78 45 23) 95 One 69
⍴NesVec        ⍝ We have juxtaposed 8 items

In [140]:
NesVec

The Jupyter notebook puts boxes around the items of the vector to make it easier to interpret the result. If the expression above were to be ran in the Dyalog interpreter session, the result would be

```
87 24  John  51  78 45 23  95  8 6  69
                               2 4    
```

which is a bit difficult to read.

And now, a matrix!

In [142]:
NesMat ← 2 3 ⍴ 'Dyalog' 44 Two 27 One (2 3⍴1 2 0 0 0 5)
⍴NesMat

In [143]:
NesMat

Again, the notebook boxes the items of the matrix so we have an easier time interpreting the result. In the interpreter session the output would be

```
 Dyalog   44  Hello 
     27  8 6  1 2 0 
         2 4  0 0 5 
```

To obtain this kind of presentation, execute the following command (remember: a command begins by a closing parenthesis):

In [146]:
)Copy Util DISP

In [147]:
DISP NesMat