(Special-Syntax-Special-Syntax)=
# Special Syntax

(Special-Syntax-Modified-Assignment)=
## Modified Assignment

Changes to a variable, like

In [16]:
a ← 4

or

In [17]:
languages ← 'APLL' 'Pithon' 'Jaba'

frequently involve modifying its current value, and such expressions naturally contain two references to its name:

In [18]:
⎕← a ← a + 1

or

In [19]:
⎕← languages ← languages,'Cee' 'Paskal' 'Russt'

In [21]:
⎕← languageThousandsUsersByYear ← 4 6⍴2562 2435 3254 9843 6234 2634 2345 6543 9875 2452 5645 2345 3411 5462 8787 2435 2435 7634 5632 6543 2345 2345 6486 3452

If the variable has a long name, its repetetition causes the expression to be rather lengthy too.

If you want to change just part of the variable using indexing, there is even more repetition:

In [22]:
⎕← languageThousandsUsersByYear[2 3;1 4 5 6] ← languageThousandsUsersByYear[2 3;1 4 5 6] - 100

Dyalog APL has a feature that allows you to avoid this type of repetition; it is called _modified assignment_.

In an expression that uses _modified assignment_, the name of the variable to be modified appears just once, at the beginning of the expression.
This is followed by the function to be used to change its value, then the assignment arrow, and then the array that specifies the amount by which the original value of the variable is to be changed.
This array would otherwise appear as the right argument of the function:

Instead of `a ← a + 1`, one can write

In [24]:
a +← 1

And instead of `languages ← languages,'Cee' 'Paskal' 'Russt'` one can write

In [26]:
languages ,← 'Cee' 'Paskal' 'Russt'

Using _modified assignment_, the other expression can be rewritten as follows:

In [27]:
languageThousandsUsersByYear[2 3;1 4 5 6] -← 100

_Modified assignment_ is concise and can reduce errors (such as misspelling the variable name in the second part of the expression).

However, there is a disadvantage to _modified assignment_: when reading a statement it is very easy to miss the function to the left of the assignment arrow and assume that the statement contains a plain assignment.

(Special-Syntax-Application)=
### Application

_Modified assignment_ can be used to enter a very long list of values, which would otherwise exceed the screen width, as illustrated in the following example:

In [28]:
vec  ← 52 17 39 77 40 17 29 0 0 14
vec ,← 80 12 31 46 100 51 49 43 21
vec ,← 17 18 19 63 61 70 44 0 20 11
vec

This type of _modified assignment_ might be superseded by the introduction of an _array notation_ which would make it more convenient to write out explicit arrays.

(Special-Syntax-Multiple-Assignment)=
## Multiple Assignment

(Special-Syntax-Introduction)=
### Introduction

It is possible to assign several values to several variables at the same time.
This is as true for nested arrays as it is for simple arrays:

In [41]:
(a b c) ← 23 41 56

In [42]:
a

In [43]:
b

In [44]:
c

In [45]:
(d e f) ← (20 61) (2 2⍴⍳4) 'Africa'

In [46]:
d

In [47]:
e

In [48]:
f

These two instructions are equivalent to the individual assignments `a ← 23`, `b ← 41`, ...

The variables `d` and `f` are vectors, and `e` is a matrix: they are not nested.
This technique, called _multiple assignment_, is a simple way to split the contents of a simple or nested vector into several variables.

This technique can be combined with the _modified assignment_ seen previously.
For example, we can update `a`, `b`, and `c` (which we have just set to `23`, `41`, and `56`, respectively), as follows:

In [49]:
(a b c) +← 57 (19 ¯16) (2 3⍴⍳6)

In [50]:
a b c

Of course, the number of variable names must be equal to the length of the vector to the right of the assignment arrow, otherwise a `LENGTH ERROR` is issued:

In [51]:
(a b) ← 23 41 56

LENGTH ERROR
      (a b)←23 41 56
           ∧

(Special-Syntax-Using-Parentheses)=
### Using Parentheses

As we have already mentioned in [the "Data and Variables" chapter](./Data-and-Variables.ipynb), for clarity and also for compatibility with other APL systems, we recommend that you parenthesise the names of the variables to the left of the arrow.
However, this is not mandatory in Dyalog APL and you may come across the following syntax, especially in environments where compatibility with other APL systems is not an issue:

In [52]:
a b c ← 23 41 56

However this is highly discouraged. Using parentheses indicates much more clearly the intent of performing multiple assignment and helps prevent some erroneous behaviour. For example, notice how the expression below raises an error because we are trying to assign `5` to `3`, and yet, `var` gets assigned `5`:

In [53]:
var 3 ← 5

SYNTAX ERROR
      var 3←5
           ∧

In [54]:
var

However, if we use parentheses the assignment is not performed at all:

In [55]:
(var 3) ← 50

SYNTAX ERROR
      (var 3)←50
             ∧

In [56]:
var

If you still aren't convinced that unparenthesised multiple assignment is evil, another argument against it is that multiple assignments can be ambiguous to read.
For example, what does

```APL
a b c ← 42
```

do?

The ambiguity arises from the fact that the lack of parenthesising means we need to know what `a`, `b`, and `c`, are, in order to understand the expression above.
For example, if all three variables are arrays, then we reassign them:

In [57]:
a ← b ← c ← 0

In [58]:
a b c ← 42
⎕← a b c

However, if `c` were a function, for example `-`, this is what we get:

In [59]:
)erase c
c ← -
a ← b ← 0

In [60]:
a b c ← 42
⎕← a b

Unfortunately, at the time of writing, there is no way to use parenthesis to disambiguate the two situations above.

(Special-Syntax-Selective-Assignment)=
## Selective Assignment

(Special-Syntax-Quick-Overview)=
### Quick Overview

Let us consider the following matrix:

In [64]:
⎕← mat ← 3 4⍴13 52 33 81 42 62 70 47 51 73 28 19

It is easy to select (extract) the first row and a half of that matrix:

In [65]:
6⍴mat

But, until now, it would have been much more complex to modify these items.
Previously, we would have had to use two steps:

In [66]:
mat[1;] ← 37 38 11 12
mat[2;1 2] ← 20 88
mat

Now, we will introduce _selective assignment_.
The purpose of _selective assignment_ is to provide a concise way to specify that a selected part (and only that selected part) of an array is to be assigned a new value.
In _selective assignment_, the expression that specifies (selects) the part of the array to be changed, appears in parentheses to the left of the assignment arrow.
The replacement array appears on the right.

Let us restore `mat` to its original state, and try out this new technique:

In [71]:
⎕← mat ← 3 4⍴13 52 33 81 42 62 70 47 51 73 28 19
(6⍴mat) ← 37 38 11 12 20 88
mat

It is important to realise that the replacement array does not necessarily have the same shape as the indices of the replaced portion of `mat`, which in any case are not necessarily rectangular.
Instead, the replacement array must have the same shape as the result of the selection expression.
In this case, `6⍴mat` would have produced a 6-item vector, so the replacement array must be a 6-item vector, too.

This is also true if we select/replace a sub-matrix of `mat` using _take_:

In [69]:
¯2 3↑mat

In [72]:
(¯2 3↑mat) ← 2 3⍴10×⍳6
mat

We can even try using a nested replacement array, here using _drop_:

In [73]:
(1 1↓mat) ← 2 3⍴'To' 'be' 'or' 'not' 'to' 'be'
mat

Notice that, unlike _multiple assignment_, the usage of parentheses is mandatory in _selective assignment_.
If the parentheses are omitted, the selection expression will just act like an expression that is evaluated after the inline assignment.

Compare the value of `mat` here:

In [74]:
(1⍴mat) ← 999
mat

with the value of `mat` here:

In [75]:
1⍴mat ← 888
mat

(Special-Syntax-Available-Primitives)=
### Available Primitives

This technique cannot be used with every single primitive function; only the following selection functions are allowed.
When appropriate, these functions can also be used with an _axis_ specification:

 - `⍴`: reshape
 - `/` and `⌿`: compress/replicate
 - `↑`: take
 - `↓`: drop
 - `,`: ravel
 - `∊`: enlist
 - `⍪`: table
 - `⌽` and `⊖`: reverse, rotate
 - `⍉`: monadic and dyadic transpose
 - `⊃`: disclose, pick
 - `\` and `⍀`: expand
 - `⌷`: index

Some of the functions listed here haven't been introduced yet, but will be soon.

(Special-Syntax-Examples)=
### Examples

One of the most interesting selection tools is _compress_.
Let us restore `mat` again:

In [3]:
⎕← mat ← 3 4⍴13 52 33 81 42 62 70 47 51 73 28 19

How can we negate all the values which are smaller than 40?

In [4]:
((,mat<40)/,mat) ×← ¯1
mat

We can also use _compress_ to replace vowels scattered throughout a matrix:

In [5]:
⎕← monMat ← 6 8⍴'January FebruaryMarch   April   May     June    '

In [6]:
((,monMat∊'aeiouy')/,monMat) ← '_'
monMat

Later on, in [the chapter about operators](./Operators.ipynb), we will learn about another tool that is suitable for this kind of job.

Using _dyadic transpose_, it is possible to select and modify a diagonal in a matrix.

In [7]:
(1 1⍉mat) ← 0
mat

To replace all the items in a matrix with the values contained in a vector, we now have two methods:

The obvious:

In [8]:
mat ← (⍴mat)⍴⍳12
mat

And the one with _selective assignment_, using _ravel_:

In [10]:
(,mat) ← 12+⍳12
mat